@media screen and (min-width:420px) and (max-width:1024px){
    .nav-icon{
        display: none !important;
    }
    .nav-title{
        width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-title p{
        color: white;
        font-family: Georgia;
        font-size: 1.2vh;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 2vw;
    }
    .nav-title p:hover{
        color: wheat;
    }
    .content-box{
        width: 44vw;
        display: inline-block;
        margin: 5vh 3vw 0vh 3vw;
        transition: all 0.5s ease;
    }
    .all-message{
        width: 100vw;
        column-count: 2;
    }
}

@media screen and (max-width:420px){
    .nav-icon{
        display: inline-block;
    }
    .nav-title{
        display: none;
    }
    .content-box{
        width: 90vw;
        margin: 5vh 5vw;
    }
}

@media screen and (min-width:1024px){
    .nav-icon{
        display: none !important;
    }
    .nav-title{
        width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-title p{
        color: white;
        font-family: Georgia;
        font-size: 1.2vh;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 2vw;
    }
    .nav-title p:hover{
        color: wheat;
    }
    .content-box{
        /* width: 28vw;
        display: inline-block;
        margin: 5vh 1.5vw 0vh 1.5vw;
        transition: all 0.5s ease; */
    }
    .article-container{
        margin: 5vh auto 0 auto;
        display: inline-grid;
        grid-template-columns: repeat(3,30vw);
        grid-row-gap: 2vw;
        grid-column-gap: 2vw;
        grid-row-gap: 5vh;
        grid-auto-flow: row dense;
        padding-bottom: 5vh;
    }
    .article-container .content-box:first-child{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    /* .article-container .content-box:last-child{
        grid-column-start: 1;
        grid-column-end: 4;
    } */


    
    /* .all-message{
        width: 93vw;
        margin: 0 auto;
        column-count: 3;
    } */
}

