@media screen and (min-width:420px) and (max-width:1024px){
    .nav-icon{
        display: none !important;
    }
    .nav-title{
        width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-title p{
        color: white;
        font-family: Georgia;
        font-size: 1.2vh;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 2vw;
    }
    .nav-title p:hover{
        color: wheat;
    }
    .content-box{
        width: 44vw;
        display: inline-block;
        margin: 5vh 3vw 0vh 3vw;
        transition: all 0.5s ease;
    }
    .content-box .img-box{
        height: 30vh;
    }
}

@media screen and (max-width:420px){
    .nav-icon{
        display: inline-block;
    }
    .nav-title{
        display: none;
    }
    .content-box{
        width: 90vw;
        margin: 5vh auto;
    }
}

@media screen and (min-width:1024px){
    .nav-icon{
        display: none !important;
    }
    .nav-title{
        width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-title p{
        color: white;
        font-family: Georgia;
        font-size: 1.2vh;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 2vw;
    }
    .nav-title p:hover{
        color: wheat;
    }
    .content-box{
        width: 30vw;
        display: inline-block;
        margin: 5vh 1vw 0vh 1vw;
        transition: all 0.5s ease;
        vertical-align: middle;
    }
    .content-box .img-box{
        height: 30vh;
    }
}
